
<h2>Bookings</h2>


  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="pull-right">
          <div class="btn-group">
            <%= link_to bookings_path({ status: "viewmygames" }) do %>
              <button type="button" class="btn btn-primary btn-filter" data-target="available">View My Games</button>
            <% end %>
            <%= link_to bookings_path({ status: "available" }) do %>
              <button type="button" class="btn btn-info btn-filter" data-target="available">Available</button>
            <% end %>

            <%= link_to bookings_path({ status: "returned" }) do %>
              <button type="button" class="btn btn-success btn-filter" data-target="returned">Returned</button>
            <% end %>

            <%= link_to bookings_path({ status: "inuse" }) do %>
              <button type="button" class="btn btn-warning btn-filter" data-target="inuse">In Use</button>
            <% end %>

            <%= link_to bookings_path({ status: "late" }) do %>
              <button type="button" class="btn btn-danger btn-filter" data-target="late">Late</button>
            <% end %>

            <%= link_to bookings_path({ status: "all" }) do %>
              <button type="button" class="btn btn-default btn-filter" data-target="all">All</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="table-container">
      <table class="table table-filter">
        <tbody>
          <% @bookings.each do |booking| %>
            <tr data-status="<%= booking.game.status%>">
              <td>
                <div class="ckbox">
                  <input type="checkbox" id="checkbox1">
                  <label for="checkbox1"></label>
                </div>
              </td>
              <td>
                <a href="javascript:;" class="star">
                  <i class="glyphicon glyphicon-star"></i>
                </a>
              </td>
              <td>
                <div class="media">
                  <a href="#" class="pull-left">
                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                  </a>
                  <div class="media-body">
                    <span class="media-meta pull-right"><p>Pick up: <%= booking.startdate.strftime("%A, %b %d") %></p>
                      <p>Drop Off:<%= booking.enddate.strftime("%A, %b %d") %></p></span>
                    <h4 class="title">
                      <%= booking.game.name %>
                      <% if booking.status == "Check Out" %>
                        <span class="pull-right available"><%= booking.status%></span>
 <!--                      <% elsif booking.status == "returned" %>
                        <span class="pull-right returned"><%= booking.game.status%></span>
                      <% elsif booking.game.status == "in use" %>
                        <span class="pull-right in use"><%= booking.game.status%></span>
                      <% elsif booking.game.status == "late" %>
                        <span class="pull-right late"><%= booking.game.status%></span> -->
                      <% else %>
                        <span class="pull-right late"><%= booking.status%></span>
                      <% end %>
                    </h4>
                    <p class="summary">Description</p>
                    <h4>Rented From</h4>
                    <ul class="list-inline">
                      <li>Seller:<%= booking.game.user.email %></li>
                      <li>Location:<%= booking.game.user.location %></li>
                      <li><%= link_to "Show Details", booking_path(booking),{ :class=>"btn btn-primary"} %></li>
                      <li><%= link_to "Edit", edit_booking_path(booking),{ :class=>"btn btn-primary"} %></li>
                      <li><%= link_to "Delete", booking_path(booking), { :class=>"btn btn-danger", method: :delete} %></li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

