<h1>bookings#index</h1>
<p>Find me in app/views/bookings/index.html.erb</p>

<h2>Here are your bookings</h2>

<% @bookings.each do |booking| %>

 <li><%= booking.startdate.to_s %></li>
  <li><%= booking.enddate.to_s %></li>
  <li><%= booking.game.user.email %></li>
  <li><%= booking.game.user.location %></li>


  <hr>
  <%= link_to "Show Details", booking_path(booking),{ :class=>"btn btn-primary"} %>
  <%= link_to "Edit", edit_booking_path(booking),{ :class=>"btn btn-primary"} %>
  <%= link_to "Delete", booking_path(booking), { :class=>"btn btn-danger", method: :delete} %>
  <% end %>

