<h1>Bookings#new</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>New Rental</h1>
      <%= simple_form_for [@game, @booking] do |f| %>
      <h2>Start Date</h2>
        <%= f.date_field :startdate %>
      <h2>End Date</h2>
        <%= f.date_field :enddate %>
      <h2>Meetup Location</h2>
        <%= f.input :place %>
      <h2>Price</h2>
      <%= @game.price %>
      <p># insert price </p>
      <h2>Seller</h2>
        <%= @game.user.email %>
      <h2>Location</h2>
        <%= @game.user.location %>
        <p>#link to map</p>


        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

