
<h2>Here are your games</h2>

<% @games.each do |game| %>
  <li><%= game.name %> <%= game.description %></li>
  <hr>
  <%= link_to "Show Details", game_path(game),{ :class=>"btn btn-primary"} %>
  <%= link_to "Edit", edit_game_path(game),{ :class=>"btn btn-primary"} %>
  <%= link_to "Delete", game_path(game), method: :delete, :class=>"btn btn-danger" %>
<% end %>
