
<div class="video-container-index">
  <video id="video" autoplay muted loop src="<%= video_path "ps.mp4" %>"></video>
</div>
<<<<<<< HEAD
=======

<h2>Here are your games</h2>
<%= link_to "New game", new_game_path,{ :class=>"btn btn-primary"} %>

<% @games.each do |game| %>

  <li><%= game.name %> <%= game.description %></li>
  <hr>
  <div class="card">
  <div class="card-body">
     <%= link_to "Show Details", game_path(game),{ :class=>"btn btn-primary"} %>
   <%= link_to "Edit", edit_game_path(game),{ :class=>"btn btn-primary"} %>
  <%= link_to "Delete", game_path(game), method: :delete, :class=>"btn btn-danger" %>
  </div>
</div>

  <div class="card" style="background-color: lightgray; padding: 10px;">
      <ul style="color: green"><b><%= game.name %></b></ul>
      <ul style="color: green"><%= game.description %></ul>
    <%= link_to "Show Details", game_path(game),{ :class=>"btn btn-primary"} %>
    <%= link_to "Edit", edit_game_path(game),{ :class=>"btn btn-primary"} %>
    <%= link_to "Delete", game_path(game), method: :delete, :class=>"btn btn-danger" %>
    <hr>
  </div>

<% end %>
>>>>>>> e2fd1ab1543bf58ffe412bd62b34c90bd4b2b102
