
<div class="container", style="color: white;">
  <h1>Create new games</h1>
  <%= simple_form_for @game do |f| %>
          <%= f.input :name %>
          <%= f.input :rating %>
          <%= f.input :description %>
          <%= f.submit class: 'btn btn-primary' %>
  <% end %>

</div>
