<main class="container">



<p> <%= link_to "See all games", games_path , { :class=>"btn btn-success"}  %>
</p>

<% if @booking.persisted? %>
  <h4>Status: <span class="label label-default"> <%= @booking.status %> </span></h4>
<% else %>
  <!-- Button trigger modal -->
<!--   <button type="button" class="label label-default" data-toggle="modal" data-target="#myModal">
    Add New Booking
  </button> -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <h1>New Rental</h1>
                <%= simple_form_for [@game, @booking] do |f| %>
                <h2>Start Date</h2>
                  <%= f.date_field :startdate %>
                <h2>End Date</h2>
                  <%= f.date_field :enddate %>
                <h2>Meetup Location</h2>
                  <%= f.input :place %>
                <h2>Price</h2>
                <%= @game.price %>
                <p># insert price </p>
                <h2>Seller</h2>
                  <%= @game.user.email %>
                <h2>Location</h2>
                  <%= @game.user.location %>
                <p>#link to map</p>


                  <%= f.submit class: 'btn btn-success' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>



<!--  Ali --

  <!-- Left Column / Headphones Image<!-- Le
  <div class="left-column">
    <%= image_tag "dancer.png", class: "left-column" %>
  </div>


  <!-- Right Column -->
  <div class="right-column">

    <!-- Product Description -->
    <div class="product-description">

      <h1><%=  @game.name.capitalize %></h1>
      <p><%= @game.description %></p>
    </div>

    <section class="content">
  <div class="cards">
    <div class="card">
      <div class="card__side card__side--front card__side--front-1 front-card-image">
        <div class="card__description">

            <div>
              Seller
            </div>
            <div>
              $10
            </div>

        </div>
      </div>
      <div class="card__side card__side--back card__side--back-1">
        <div class="card__description"><svg width="24" height="24" viewBox="0 0 24 24">

          </svg></div>
          <button class="btn btn-success book-btn" type="button" class="label label-default" data-toggle="modal" data-target="#myModal">Book</button>
      </div>
    </div>
        <div class="card">
      <div class="card__side card__side--front card__side--front-1 front-card-image">
        <div class="card__description">
          <div>
            Seller
          </div>
          <div>
            $10
          </div>
        </div>
      </div>
      <div class="card__side card__side--back card__side--back-1">
        <div class="card__description"><svg width="24" height="24" viewBox="0 0 24 24">

          </svg></div>
          <button class="btn btn-success book-btn" type="button" class="label label-default" data-toggle="modal" data-target="#myModal">Book</button>
      </div>
    </div>
        <div class="card">
      <div class="card__side card__side--front card__side--front-1 front-card-image">
        <div class="card__description">
          <div>
            Seller
          </div>
          <div>
            $10
          </div>
        </div>
      </div>
      <div class="card__side card__side--back card__side--back-1">
        <div class="card__description"><svg width="24" height="24" viewBox="0 0 24 24">

          </svg></div>
          <button class="btn btn-success book-btn" type="button" class="label label-default" data-toggle="modal" data-target="#myModal">Book</button>
      </div>
    </div>
  </div>
</section>
