<main class="container">
<% if @game.name == "Shadow Dancer" %>
  <div class="view hm-white-light jarallax" data-jarallax='{"speed": 0.2}' data-jarallax-video="https://www.youtube.com/watch?v=eHahEPFBSk0">
            <div class="full-bg-img">
                <div class="container flex-center">
                    <div class="row">
                        <div class="col-md-12 wow fadeIn">
                            <div class="text-center text-danger">
                                <h1 class="display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s"></h1>
                                <h5 class="font-up mb-3 mt-1 font-bold wow fadeInDown" style="font-weight:bold; text-shadow: 0 0 8px #FFF, 0 -2px 12px #222, 0 -5px 15px #666;" data-wow-delay="0.4s"></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="py-2"></div>

<% elsif @game.name = "Super Mario" %>

  <div class="view hm-white-light jarallax" data-jarallax='{"speed": 0.2}' data-jarallax-video="https://www.youtube.com/watch?v=jeQAsUI2deY">
            <div class="full-bg-img">
                <div class="container flex-center">
                    <div class="row">
                        <div class="col-md-12 wow fadeIn">
                            <div class="text-center text-danger">
                                <h1 class="display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s"></h1>
                                <h5 class="font-up mb-3 mt-1 font-bold wow fadeInDown" style="font-weight:bold; text-shadow: 0 0 8px #FFF, 0 -2px 12px #222, 0 -5px 15px #666;" data-wow-delay="0.4s"></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="py-2"></div>

<% end %>
<hr>




<div>
  <%= image_tag "dancer.png", {class: "sticky-photo"}%>
</div>

<!-- <p> <%= link_to "See all games", games_path , { :class=>"btn btn-success btn_success"}  %>
</p> -->



<!--  Ali --

  <!-- Left Column / Headphones Image<!-- Le
  <div class="left-column">
    <%= image_tag "dancer.png", class: "left-column" %>
  </div>


<!-- Right Column -->
<div class="right-column">

<!-- Product Description -->
<div class="product-description">
  <%=  raise %>
  <h1 style="color:white;"><%=  @game.name %></h1>
  <p style="color: white; font-size: 20px;"><%= @game.description %></p>
</div>

<% if @booking.persisted? %>
  <h4>Status: <span class="label label-default"> <%= @booking.status %> </span></h4>
<% else %>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Book a Game</h4>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row" style="color: black;">
              <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <h2><%= @game.name %></h2>
                <%= simple_form_for [@game, @booking] do |f| %>
                  <h5>Start Date</h5>
                    <%= f.date_field :startdate, style: 'margin-bottom: 20px;' %>
                  <h5>End Date</h5>
                    <%= f.date_field :enddate, style: 'margin-bottom: 20px;' %>
                  <p>Seller: <%= @game.user.email %> </p>
                  <p>Location: <%= @game.user.location %> </p>

                  <p>#link to map</p>

                  <%= f.submit class: 'btn btn-success' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="content">
    <h2 style="color: white;">List of Sellers</h2>
    <div class="cards">
      <% 3.times do %>
        <div class="card">
          <div class="card__side card__side--front card__side--front-1 front-card-image">
            <div class="card__description">
              <div>
                Seller
              </div>
              <div>
                $<%= @game.price.to_i + rand(-5..5) %>
              </div>
            </div>
          </div>
          <div class="card__side card__side--back card__side--back-1">
            <div class="card__description"><svg width="24" height="24" viewBox="0 0 24 24">
              </svg></div>
              <button class="btn btn-success book-btn" type="button" class="label label-default" data-toggle="modal" data-target="#myModal">Book</button>
          </div>
        </div>
      <% end %>
    </div>
  </section>
<% end %>

<div id="overlay"></div>
  <div class="container calendar">
    <div class="header">
      <div class="icon arr prev"></div>
      <div class="month">May 2014</div>
      <div class="icon arr next"></div>
    </div>
    <table>
      <tr>
        <th>Sun</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th>
      </tr>
      <tr>
        <td class="notCurMonth">29</td><td class="notCurMonth">30</td>
        <td>1</td><td>2</td><td class="curDay">3</td><td>4</td><td>5</td>
      </tr>
      <tr>
        <td>6</td><td class="holiday">7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td>
      </tr>
      <tr>
        <td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td><td>19</td>
      </tr>
      <tr>
        <td>20</td><td>21</td><td>22</td><td class="holiday">23</td><td>24</td><td>25</td><td>26</td>
      </tr>
      <tr>
        <td>27</td><td>28</td><td>29</td><td>30</td>
        <td class="notCurMonth">1</td><td class="notCurMonth">2</td class="notCurMonth"><td class="notCurMonth">3</td>
      </tr>
    </table>
    <button class="button-big" id="add_event">Add event</button>
  </div>


 <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script src="https://mdbootstrap.com/previews/docs/latest/js/bootstrap.min.js"></script>
    <script src="https://mdbootstrap.com/previews/docs/latest/js/mdb.min.js"></script>
    <script src="https://mdbootstrap.com/previews/docs/latest/js/jarallax.js"></script>
    <script src="https://mdbootstrap.com/previews/docs/latest/js/jarallax-video.js"></script>
    <script>
        new WOW().init();
    </script>
